body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* NAVBAR */
.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.nav-link{
    list-style-type: none;
     display: flex;
    align-items: center;
    margin-left: -30px;
      
}
.navbar a{
    text-decoration: none;
    color: rgb(43, 41, 41);
    font-size: 16px;
    margin-left: 20px;
}
.bx{
    color: rgb(36, 35, 35);
    font-size: 20px;
}
.menu-accueil, .menu-collect, .menu-about, .menu-contact{
     display: flex; 
}
.logo{
 font-size: 20px;  
 color: rgb(56, 53, 53);
  margin-left: 40px;
}


.nav-Icon i{
    color: rgb(40, 38, 38);
    font-size: 24px;
    line-height: 90px; 

}

        /* SEC1     */
.texte-image{
    background-image: url(Images/ABOUT1.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.texte-image {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.texte-image h1{
    text-align: center;
    font-size: 36px;

}


/* SEC2 */

.titre-cont2{
    text-align: center;

}
.titre-cont2 h2{
    font-size: 32px;

}
/* sec2 */
.sec2{
    margin-top: 20px;
}
.descript1 img
{
height: 65vh;
width: 65vh;
object-fit: cover;
}
.descript1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.descript2{
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.photo1{
position: relative; 
height: 60vh;
width: 55vh;
object-fit: cover;

}
.photo2{
    position: absolute; 
    height: 40vh;
    width: 40vh;
    object-fit: cover;
    bottom: -20vh; 
    right: -40px

    
    }
    .photos{
         position: relative; 
         left: -40px;
    }

    /* sec3 */
.container3{
    background-color: rgb(247, 229, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.elements{
    display: flex;
   
}
.elem{
    margin-left: 20px;
    text-align: center;
  
}
.elem h3{
    text-align: center;
}

.elem  .icon-elem i{
    border:2px dashed black ;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
     align-items: center;
    justify-content: center; 
     font-size: 24px;
     margin: 0 auto 10px;
}
.elem  .icon-elem {
    padding-top: 30px;
}
        /* sec4 */
.sec4{
    margin-top: 30px;
}

.definir img{

height: 90vh;
width: 80vh;
object-fit: cover;
}
.about-cont4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-etroile  i{
    color: rgb(248, 147, 25);
    font-size: 20px; 
}

 /* .sec5 */
 .sec5{
    margin-top: 30px; 
   }

   .container5 {
       padding: 20px;
       
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
       
   }
   .container5 p{
       color: #333;
       font-size: 18px;
   }
   .container5 h3{
       color: #333;
       font-size: 28px;
   }
/* Grille d'images */
.image-cont5 {
display: flex;
 justify-content: center;  
}
   
.image-cont5 img {
width: 265px;
height: 230px;
object-fit: cover;
}


 /* FOOTER   */
 footer{ 
    
    padding: 30px; 
}

.footer-container {
display: flex;
justify-content: space-around;
margin: auto;
padding: 30px;
border-top: 1px solid #444; 

}

.footer-sec {
width: 250px;
}

.footer-sec h3 {
color: #1e1c1c;
font-size: 18px;
margin-bottom: 10px;
}
.footer-sec p{
color: #171616;
}

.footer-sec ul {
list-style: none;
padding: 0;
}

.footer-sec ul li {
margin: 5px 0;
}

.footer-sec ul li a {
color: rgb(33, 32, 32);
text-decoration: none;
}

.footer-icons a  {
display:inline-flex; 
justify-content: center;
align-items: center; 
text-decoration: none;
width: 2.5rem;
height: 2.5rem;
background-color:transparent;
color: rgb(63, 60, 60);
border: 2px dashed #302f2f;
border-radius: 50%;
font-size: 1.3rem;
text-decoration: none;

}
.adresse-form{
    position: relative;
}
.footer-sec .input-email input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    background-color: #444;
    position: relative;
     
} 
.footer-sec .bouton-subcribe  button {  
     height: 40px;
    width: 100px;
    border: none;
    background-color: #141313; 
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.adresse-form .bouton-subcribe{
        position: absolute;
        top: 50%;
        right: -5px;
     transform: translateY(-40%); 
}

.footer-sec form button i{
color: #FFF;
}

.footer-fin {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
border-top: 1px solid #444; 
font-size: 14px;
}
.payment img{
    object-fit: cover;
}
  

@media screen and (max-width: 1024px) {
    body{
        /* width: 100%; */
        overflow-x: hidden;

    }
    .navbar{
        
        flex-wrap: wrap;
        display: flex;
        margin: auto; 
    } 
    
     .nav-Icon{
        margin: auto;
    }
    .logo{
        margin: auto;
    } 
   .nav-link{
    flex-wrap: wrap;
   }

    .nav-link a{
        font-size: 14px;
    }
/* sec1 ABOUT */
.texte-image h1{
    font-size: 28px;
}

/* .sec2 */
.descript1{
    flex-wrap: wrap;
}
.descript2{
    flex-wrap: wrap;
}
.descript2 .photos{
    margin-bottom: 25vh; 

}
.titre-descript{  
    text-align: center;
    
}
    /* sec3 */
.elements{
    flex-wrap: wrap;
}
.container3 p{
    text-align: center;
}
    /* sec4 */
    .about-cont4{
        flex-wrap: wrap;
    }
    .definir img{
        width:55vh ;
    }
    .titre-cont4{
        text-align: center;
    }



    /* sec5 */
.image-cont5{
    flex-wrap: wrap;
}
.container5 p{
    text-align: center;
}

/* FOOTER */
.footer-container{
    flex-wrap: wrap;
}

}
