body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.social-icons a i {
    display:inline-flex; 
    justify-content: center;
    align-items: center; 
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(179, 176, 176);
    color: rgb(63, 60, 60);
    border-radius: 50%;
    font-size: 1.3rem;
    text-decoration: none;

}

.social-icons a {
   
    width: 20px;
     margin-right: 10px; 
}

.commande span {
    color: black;
    font-size: 14px;
}

.commande a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    border-bottom:2px solid  red;
}
.commande a i{
    color:red ;
}

.langue select {
    border: none;
    background: none;
    font-size: 14px;
}
/* NAVBAR */
.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.nav-link{
    list-style-type: none;
     display: flex;
    align-items: center;
    margin-left: -30px;
      
}
.navbar a{
    text-decoration: none;
    color: rgb(43, 41, 41);
    font-size: 16px;
    margin-left: 20px;
}
.bx{
    color: rgb(36, 35, 35);
    font-size: 20px;
}
.menu-accueil, .menu-collect, .menu-about, .menu-contact{
     display: flex; 
}
.logo{
 font-size: 20px;  
 color: rgb(56, 53, 53);
  margin-left: 40px;
}


.nav-Icon i{
    color: rgb(40, 38, 38);
    font-size: 24px;
    line-height: 90px; 

}
/* sec-new */
.new{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(250, 207, 231),rgb(146, 146, 246));
}
.new p{
    font-size: 18px;
    color: rgb(111, 107, 101);

}
.new h1
{
    font-size:32px ;
}
/* sec collection1 */
.collection1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

/* Style des cartes */
.article {
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.article img {
    width: 230px;
    height: 400px;
    border-radius: 5px;
}

.article span{
 display: block; 
    margin-top: 10px;
    font-weight: bold;
    background-color: bisque;
    width:17vh;
    height: 35px;
    text-align: center;
 padding-top: 12px ; 
}

/* Animation au survol */
.article:hover {
    transform: translateY(-5px);
}

/* Section des contrôles */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Bouton filtre */
.filter-btn {
    background:transparent;
    border: 1px solid black;
    padding: 8px 15px;
    cursor: pointer;
    margin-left: 25px;
}

/* Boutons de vue */
.view-options i {
    /* border: none; */
    /* background: transparent; */
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.view-options .active {
    font-weight: bold;
}

/* Sélecteur de tri */
.sort {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;

}


/* collection2 */
.collection2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

/* Style IMAGE */
.article2 {
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s; 
    margin: auto;
}
.article2:hover {
    transform: translateY(-5px);
}

.article2 img {
        width: 250px; 
        height: 400px; 
        border-radius: 5px;
    } 
    .article2  p span {
        position:absolute;  
       background: rgb(255, 115, 0);
       color: white;
       padding: 5px 10px;
       font-size: 14px;
       border-radius: 5px; 
       z-index: 2;
   }
   
.article2 .image-reduct{
    position: relative;
    top: 0;
    left: 0;
}

.article2 h3{
    color: rgb(98, 96, 96);
    display: block;  

}
.article2 p{
    color: black;
    font-weight: bold;
    margin-top:-15px;
}
    /* button radio */
.even {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
}

.even input {
    display: none; /* Cache les boutons radio natifs */
}

.even label {
     width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

.even input:checked + label {
    border: 2px solid #333;
     transform: scale(1.2); 
}

/* Couleurs spécifiques */
.black 
{ background-color: black; 
}
.orange { 
    background-color: orange; 
}
.white { 
    background-color: white; 
    border: 1px solid #ccc; 
}
.pink { 
    background-color: pink; 
}
.purple { 
    background-color: purple;
 }
.green { 
    background-color: rgb(123, 250, 233); 
}

 

/* .collection3 */
.collection3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
   
}

/* Style IMAGE */
.article3 {
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: auto;
}

.article3 img {
    width: 250px; 
    height: 400px; 
    border-radius: 5px;
}

.article3 h3{
    color: rgb(59, 58, 58);
    display: block; 
    /* margin-top: 10px */
}
.article3 p{
    margin-top: -15px;
    color: black;
    font-weight: bold;
}
.even {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
}

.even input {
    display: none; /* Cache les boutons radio natifs */
}

.even label {
     width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

.even input:checked + label {
    border: 2px solid #333;
     transform: scale(1.2); 
}

/* Couleurs spécifiques */
.black 
{ background-color: black; 
}
.bleuFonce { 
    background-color: rgba(8, 8, 159, 0.784); 
}
.white { 
    background-color: white; 
     border: 1px solid #676565;  
}
.marron{ 
    background-color: rgba(146, 110, 55, 0.596); 
}
.gris { 
    background-color: rgb(136, 134, 136);
 }
.vert { 
    background-color: rgb(123, 250, 233); 
}
.bleuClair { 
    background-color: rgb(160, 200, 234); 
}

/* Collection4 */
.collection4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
   
}

/* Style IMAGE */
.article4 {
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: auto;
}

.article4 img {
    width: 250px; 
    height: 400px; 
    border-radius: 5px;
    margin: auto;
}

.article4 h3{
    font-size: 16px;
    color: rgb(59, 58, 58);
    text-decoration: none;
    display: block; 
    margin-top: 10px
}
.article4 p{

    font-size: 16px;
    margin-top: -15px;
    color: black;
    font-weight: bold;
}
.rose{
    background-color: rgb(246, 194, 216);
}
/* sec boutons */
.boutons-carres{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;


}
.bouton-carre{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #1d1c1c;
    border: 1px solid #4e4b4b;
    font-weight: bold;


    
}
.bouton-carre1{
    height: 50px;
    width: 50px;
    background-color: #0e0d0d;
    color: #FFF;
    border: 1px solid #302f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

        /* FOOTER   */
        footer{ 
    
            padding: 30px; 
        }

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    margin: auto;
     padding: 30px;
     border-top: 1px solid #444; 
    
}

.footer-sec {
    width: 250px;
}

.footer-sec h3 {
    color: #1e1c1c;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-sec p{
    color: #171616;
}

.footer-sec ul {
    list-style: none;
    padding: 0;
}

.footer-sec ul li {
    margin: 5px 0;
}

.footer-sec ul li a {
    color: rgb(33, 32, 32);
    text-decoration: none;
}

.footer-icons a i {
    display:inline-flex; 
    justify-content: center;
    align-items: center; 
    width: 2.5rem;
    height: 2.5rem;
    background-color:transparent;
    color: rgb(63, 60, 60);
    border: 1px solid #302f2f;
    border-radius: 50%;
    font-size: 1.3rem;
    text-decoration: none;

}

.footer-sec form input {
    width: 90%;
    height: 40px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #242222;
    font-weight: bold;
    background-color: #eae5e5;
}

.footer-sec form button {
    padding-bottom:  10px;  
    height: 40px;
    width: 120px;
    background-color: #0e0d0d;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
     top: -7vh; 
     left: 16vh;

}
.footer-sec form button i{
    color: #FFF;
}

.footer-fin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  border-top: 1px solid #444; 
    font-size: 14px;
}










/* *{
    border: solid;
} */




@media screen and (max-width: 1024px){
header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.social-icons {
    margin-bottom: 5px;
}

.commande {
    /* Pour mettre la promo en premier */
    margin-bottom: 5px;
}

.langue {
    margin-top: 5px;
}
/* NAVBAR */
.navbar{
        
    flex-wrap: wrap;
    display: flex;
    margin: auto; 
} 

 .nav-Icon{
    margin: auto;
}
.logo{
    margin: auto;
} 

.nav-link a{
    font-size: 14px;}
    
/* respon sec collection */

.collection1 {
    grid-template-columns: repeat(1, 1fr);
}

.controls {
    flex-direction: column;
    gap: 10px;
}
.collection2 {
    grid-template-columns: repeat(1, 1fr);
}

.collection3 {
    grid-template-columns: repeat(1, 1fr);
}
.collection4 {
    grid-template-columns: repeat(1, 1fr);
}
   
}
