
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* NAVBAR */
.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.nav-link{
    list-style-type: none;
     display: flex;
    align-items: center;
    margin-left: -30px;
      
}
.navbar a{
    text-decoration: none;
    color: rgb(43, 41, 41);
    font-size: 16px;
    margin-left: 20px;
}
.bx{
    color: rgb(36, 35, 35);
    font-size: 20px;
}
.menu-accueil, .menu-collect, .menu-about, .menu-contact{
     display: flex; 
}
.logo{
 font-size: 20px;  
 color: rgb(56, 53, 53);
  margin-left: 40px;
}


.nav-Icon i{
    color: rgb(40, 38, 38);
    font-size: 24px;
    line-height: 90px; 

}
/* sec-new */
.new{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(250, 207, 231),rgb(146, 146, 246));
}
.new p{
    font-size: 18px;
    color: rgb(111, 107, 101);

}
.new h1
{
    font-size:32px ;
}

/* sec renseignement */

.renseignement{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.icons a  {
    display:inline-flex; 
    justify-content: center;
    align-items: center; 
    color: rgb(37, 35, 35);
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 15px;

}
.name{
    display: flex;
     gap: 15px;
}
.formul form input, .formul form textarea {
    width: 99%;
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}
.formul form input{
    height: 40px;
}

 form input[type="submit"]{
    height:40px ;
    width: 100%;
    color: #fff;
    background-color: #1f1d1d; 
    border: 1px solid rgb(37, 36, 37);
    text-transform: uppercase;
    text-align: center;

     }  
     form{
        display: flex;
        flex-direction: column;
     }  
       .renseignement h2{
        font-weight: 200;
       } 
       
       
       /* FOOTER   */
       footer{ 
    
        padding: 30px; 
    }

.footer-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: auto;
 padding: 30px;
 border-top: 1px solid #444; 

}

.footer-sec {
width: 250px;
}

.footer-sec h3 {
color: #1e1c1c;
font-size: 18px;
margin-bottom: 10px;
}
.footer-sec p{
color: #171616;
}

.footer-sec ul {
list-style: none;
padding: 0;
}

.footer-sec ul li {
margin: 5px 0;
}

.footer-sec ul li a {
color: rgb(33, 32, 32);
text-decoration: none;
}

.footer-icons a  {
display:inline-flex; 
justify-content: center;
align-items: center; 
text-decoration: none;
width: 2.5rem;
height: 2.5rem;
background-color:transparent;
color: rgb(63, 60, 60);
border: 2px dashed #302f2f;
border-radius: 50%;
font-size: 1.3rem;
text-decoration: none;

}
.adresse-form{
    position: relative;
}
.footer-sec .input-email input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #302d2d;
    font-weight: bold;
    background-color:transparent;
    position: relative;   
} 
.footer-sec .bouton-subcribe  button {  
     height: 40px;
    width: 100px;
    border: none;
    background-color: #141313; 
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.adresse-form .bouton-subcribe{
        position: absolute;
        top: 52%;
        right: -5px;
     transform: translateY(-40%); 
}


.footer-sec form button i{
color: #FFF;
}

.footer-fin {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
border-top: 1px solid #444; 
font-size: 14px;
}
@media screen and (max-width: 1024px) {
    body{
        
        overflow-x: hidden;

    }
    .navbar{
        
        flex-wrap: wrap;
        display: flex;
        margin: auto; 
    } 
    
     .nav-Icon{
        margin: auto;
    }
    .logo{
        margin: auto;
    } 
   .nav-link{
    flex-wrap: wrap;
   }

    .nav-link a{
        font-size: 14px;
    }


    /* sec renseignement */


.renseignement{
    flex-wrap: wrap;
     padding:10px ; 
   

}
.visite,.formul{
    width: 100%;
    margin-bottom: 30px;  

}






}
