body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    height: 90px; 
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    align-items: center;
}
.nav-link{
    list-style-type: none;
    display: flex;
    align-items: center;
     
}
.navbar a{
    text-decoration: none;
    color: rgb(215, 80, 80);
    font-size: 16px;
    margin-left: 20px;
}
.bx{
    color: rgb(199, 91, 91);
    font-size: 20px;
}
.menu-accueil, .menu-collect, .menu-about, .menu-contact{
     display: flex; 
}
.logo{
 font-size: 20px;  
 color: rgb(229, 110, 110);
  margin-left: 40px;
}


.nav-Icon i{
    color: rgb(189, 85, 85);
    font-size: 24px;
    line-height: 90px; 

}

    /* SEC1 */
.container1{
     /* height: 75vh; */
    display: grid;
    grid-template-columns: 280px 1fr 280px;
    grid-template-rows: 500px;
    gap: 10px;
    justify-content: center;
}
.image1{
    background-image: url("Images/image1.jpg");
   
}

.image3{
    background-image: url("Images/image3.jpg");
   
}
.image1, .image2, .titre1{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.titre1 {
    background-image: url("Images/pexels-photo-5782708.webp");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titre1 h1{
    font-size: 36px;
    text-align: center;
    color: #FFF;
}
.titre1 h3{
    font-size: 20px;
    color:#FFF;
}
.star-para1  i{
    color: rgb(248, 147, 25);
    font-size: 24px;
    
}
.star-para1 h3 span{
     margin-left: 20px;
}
.star-para1  span{
    color: #eae5e5;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(230, 74, 74);
    width: 30vh;
    height: 7vh;
    color:    rgb(253, 249, 249);
    font-size: 16px;
    border: none;
    margin-top: 25px;
    border-radius: 20px;
    cursor: pointer;
}
.bxs-chevron-right{
    color: rgb(242, 243, 245);   
}
    /* .sec2 */
.sec2{
    margin-top: 20px; 
   
}
.container2{
    background: url("Images/1.jpg");
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    padding-top: 30px;
    width: 95%;
    margin: auto; 
     display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;  

}
.container2 .photos{
    display: flex;
    gap: 15px;
     
 
}
.photos .photo{
     display: flex;
    flex-direction: column; 

}
.container2 h2{
    color: white;
    font-size: 32px;
    text-align: center;
}
.photo img{
    width: 190px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    
}

.photo img:hover{
    overflow: hidden;
    transform: scale(1.1);
}

 .bnt {
    background-color:rgb(255, 255, 255);
        width: 21vh;
        height: 7vh;
        border: 1px solid #FFF;
        color:    rgb(59, 57, 57);
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        position: relative;
         bottom: 90px; 
         margin: auto;
    

    }
         /* SEC3 */
         .sec3{
            margin-top: 30px;
         }
    
   .container3{
        width: 95%; 
       margin: auto; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
   
   }
   .container3 h2{
    text-align: center;
       color: rgb(89, 86, 86);
       font-size: 32px; 
   }
   .produit-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;   
}
.produit h3{
    font-size:20px ;
    margin-top: -25px;
}

.produit {
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.produit:hover {
    cursor: pointer;

}
.produit img {
    width: 190px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); 
}
.produit img :hover{
    transform: scale(1.1) rotate(-3g);
}

.produit:hover img {
     animation: pulse 1.5s infinite; 

}
 .produit .visible i{
    background-color: rgb(241, 241, 241);
    padding: 8px;
    margin-left: 5px;
    position: relative;
    bottom: 50px;
    color: #111;
   

}

.produit .visible{
    display: flex;
    visibility: hidden;
    transition: .5s;
}

.produit:hover .visible{ 
    transition: all;
    visibility: visible;
}
.pourcent{
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgb(255, 0, 0);
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 2;
   
}

/* Animation d'impulsion */
  @keyframes pulse {
     0% { transform: scale(1); } 
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}  

.prix {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.prix-sortie {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

   /* section4 */
.sec4{
    margin-top: 30px;
    
   
}
   .sec4 .container4{
    background: url("Images/bg.webp") ;
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
   
}
.partie{
    display: flex;
    flex-direction: column;
}
.para{
    padding-top: 40px; 
    height:210px ;
    width: 360px;
    background-color: rgba(212, 42, 42, 0.934);
    color: #FFF;
    box-shadow: 10px 10px 10px #201f1f;

}
.box1 img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 3px solid #FFF;
    
}

 .box1{
position: relative;
top: 60px; 
margin: auto;
}  
.para h1{
    font-size: 24px;
    margin: 30px 0; 
    font-weight: 800;
    text-align: center;
}
.para p{
    text-align: center;
    font-size: 12px;
}



.sec5{
    margin-top: 30px;  

}
.container5 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.image-cont5{
    position: relative;
    border-radius: 10px;
     overflow: hidden;
}
.image-cont5 img{
     object-fit: cover;  

}

.para-cont5 {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 15px;

}
.para-cont5 span{
    font-size: 16px;
}


.para-cont5 button {
    background-color: red;
    width: 20vh;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.para-cont5 button:hover {
    background-color: darkred;
}

    /* sec6 */


    .sec6{
        margin-top: 30px;
         
    }
     .container6{
         background: url("Images/cont6\ B.webp"); 
        background-size: cover;
        background-position: center; 
        border-radius: 10px;
        /* padding-top: 30px; */
        width: 95%;
        margin: auto; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; }
     
       
    .images-cont6{
        display: grid;
       grid-template-columns: repeat(3, 250px);
       grid-auto-rows: 170px;
        gap: 15px; 
        padding-bottom: 30px;
       
   } 
     .image1-cont6{
        grid-column: 1/2;
         grid-row: 1/3;
        background-image: url("Images/CONT6\ 1.jpg ");
        background-size: cover;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

    }
    .image2-cont6{
        grid-column: 2/3; 
         grid-row: 1/2;
        background-image: url("Images/cont6\ 2.jpeg");
        background-size: cover;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        
    }
    .image3-cont6{
        grid-column:2/3 ; 
         grid-row:2/3 ;
        background-image: url("Images/cont6\ 3.jpeg");
        background-size: cover;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        
    }
    .image4-cont6{
        grid-column: 3/4;
        grid-row: 1/3;
        background-image: url("Images/cont6\ 4.jpeg");
        background-size: cover;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center; 
        position: relative;
       
 
    }
    
    .container6 h1{
        color: rgb(50, 49, 49);
        font-size: 32px;
         text-align: center; 
    }
    .images-cont6  .bnt{
        background-color:rgb(255, 255, 255);
            border: none;
            color: rgb(59, 57, 57);
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
               
         position: absolute;
            bottom: 20px; 
        }
       
        .sec7{
            margin-top: 30px;  
          }
          .container7{
               width: 95%; 
              margin: auto;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center; 
          
          }
          .container7 h1{
              color: rgb(89, 86, 86);
              font-size: 32px;
              text-align: center;}
          /* sec8 */
          .image1-cont8 p{
            color: #FFF;
          }
          .sec8 .container8{
        
            width: 95%; 
            margin: auto;
            display: flex; 
            justify-content: center;
            align-items: center;
          }
          .image1-cont8{
             width: 50%;
             height: 50vh;   
            background-image: url("Images/c8.jpeg");
            background-size: cover;
            background-position: center;

          }
          .image2-cont8{
            height: 50vh; 
            width: 50%;   
           background-image: url("Images/CON8.jpeg");
           background-size: cover;
           background-position: center;

         }
.image1-cont8 h2{
    font-size: 32px;
    letter-spacing: 2px;
}
 .image1-cont8 p, a{
    font-size: 18px;

}
.image1-cont8 h2,p,a{
    color:#FFF;
  }
 .image1-cont8   a{
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #FFF;
    

}
.image1-cont8 i{
    color: #FFF;
    font-size: 20px;

}
          
.image1-cont8{
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
              
          }  
        /* SEC9 */
.sec9{

         margin-top: 30px;  
        }
        .container9{
            width: 95%;
            margin: auto;
        }
        .container9{
             display: flex;
            align-items: center; 
            flex-direction: column;
        }
        .images-cont9{
            display: flex;
            justify-content: space-around;
            align-items: center;
           

        }
        .container9 h2{
            text-align: center;
            color: #111;
            font-size: 28px;
        }
      .image1-cont9 .image1
        {
            height: 335px;
            width: 220px;
        }
        /* .image1-cont9{

            border: solid;
        }
        .image2-cont9{
            border: solid;
            
        }
         */
     .image2-cont9 .image2 {
        height: 335px;
        width: 220px;
        }
    
    .images-cont9 .partie1 img {
            height: 95px;
            width: 60px;
        }
        .container9    i{
            color: rgb(248, 147, 25);
            font-size: 24px;
            
        }
        .etroile{
            display: flex;
            
        }

            .image1-cont9{
                display: flex;
                
                

            }
            .image2-cont9{
                display: flex;
            
        
                
            }
            .container9 .elem{
                height: 335px;
                display: flex;
                flex-direction: column;
                margin-left: 30px;
            }
            .container9 p{
                font-size:18px ;
                color: rgb(69, 67, 65);
            }
            .container9 span{
                font-size:18px ;
                color: rgb(69, 67, 65);
        
            }
            .container9 h3{
                color: rgb(69, 67, 65);
                font-size:24px ;
        
            }
            .partie1{
                display: flex;
              
            }
            .partie1 p{
                font-size: 18px;
                margin-left: 20px;
            }
            .partie1  span{
                color: red;
            }
            /* sec10 */
            .sec10{
                margin-top: 30px;
            
            }
            .container10 {
        
                width: 95%;
                margin: auto;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                gap: 40px;
                 padding: 20px; 
                background-color: #f8f3ea;
            }
            .box {
                 text-align: center;
                max-width: 230px;
                display: flex;
            }
            
            .icon i {
                width: 60px;
                height: 60px;
                background-color: #a52a2a;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 24px;
             margin: 0 auto 10px; 
            }
          .part .title h3{
                font-weight: bold;
                color: #a52a2a;
            }
            .part .desc p{
                font-size: 16px;
                color: #333;
            }
            /* .sec11 */
            .sec11{
             padding-top: 30px; 
            }

            .container11 {
                padding: 20px;
                
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }
            .container11 p{
                color: #333;
                font-size: 18px;
            }
            .container11 h3{
                color: #333;
                font-size: 28px;
            }
   /* Grille d'images */
  .image-cont11 {
         display: flex;
          justify-content: center;  
}
            
.image-cont11 img {
  width: 265px;
height: 230px;
  }
            
  /* Footer */
 footer {
    background-color: #111;
   color: white;
 }

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
     padding: 20px; 
}

.footer-sec {
    width: 250px;
}

.footer-sec h3 {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-sec p{
    color: #FFF;
}

.footer-sec ul {
    list-style: none;
    padding: 0;
}

.footer-sec ul li {
    margin: 5px 0;
}

.footer-sec ul li a {
    color: white;
    text-decoration: none;
}
.footer-icons a  {
    display:inline-flex; 
    justify-content: center;
    align-items: center; 
    width: 2.5rem;
    height: 2.5rem;
    background-color:transparent;
    color: rgb(232, 224, 224);
    border: 2px dashed #eae5e5;
    border-radius: 50%;
    font-size: 1.3rem;
    text-decoration: none;

}
.footer-icons a i{
    color: #FFF;
}

.footer-sec .input-email input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    background-color: #444;
    position: relative;
     
} 
.footer-sec .bouton-subcribe  button {  
     height: 40px;
    width: 100px;
    border: none;
    background-color: #141313; 
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} 


.adresse-form{
    position: relative;
}
.adresse-form .bouton-subcribe{
        position: absolute;
        top: 50%;
        right: -5px;
     transform: translateY(-40%); 
}


.footer-sec form button i{
    color: #FFF;
}

.footer-fin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  border-top: 1px solid #444; 
    font-size: 14px;
}
     
          
        /* * {
            border: 2px solid red;
        }     */
         



@media screen and (max-width: 1024px) {
   
   
    body{
        /* width: 100%; */
        overflow-x: hidden;

    }
    .navbar{
        height: 40vh;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        margin: auto; 
    } 
    .link{
        flex-wrap: wrap;
    }
    .nav-Icon{
        margin: auto;
    }
    .logo{
        margin: auto;
    }

    .nav-link a{
        font-size: 14px;
    }
    /* .sec1 */
    .container1{
        grid-template-columns:0px 1fr 0px;
        grid-template-rows: 1fr;
        
    }
   .bouton{
        width: 25vh;
        height: 5vh;
        margin-bottom: 25px;
    }
    /* .sec2 */
    .container2 .photos{
    flex-direction: column;
    }
   .photo img{

         border-radius: 10px;
        
    }
  .photo  .bnt{
    width: 20vh;
    height: 6vh;
    
    }
    /* sec3 */

       .para-image h3{
        color: blue;
        position: relative;
        top: 0; 
        left: 30px;

       } 
       /* sec4 */
 
 .para{
    height:200px ;
    width: 300px;
 }
       /* SEC5 */
       
       .sec5 .container5{
        flex-wrap: wrap;
  
    }
    
    
     .image-cont5 {
        margin-left: 15px;

       
    }
    
    
        /* sec6 */
        

       .images-cont6{
        display: grid;
       grid-template-columns: repeat(3, 120px);
       grid-auto-rows: 100px;
        gap: 15px; 
        padding-bottom: 30px;}
        .images-cont6  .bnt{
                font-size: 12px;
                width: 70px;
                height: 60px;
            }

    
     /* .sec7 */
         

       .para-image h3{
        color: blue;
        position: relative;
        top: 0; 
        right: 50px;

       } 
       /* SEC8 */
    

    .image1-cont8 h2{
        font-size: 24px;
    }
    .image1-cont8 p,a{
        font-size: 14px;
    }
    /* SEC9 */
    .container9 .images-cont9{
        flex-wrap: wrap;
        
        
    }
    .image1-cont9  .image1 {
        
        width: 180px;
        }
    .image2-cont9  .image2 {
       

        width: 180px;
        }
      .container9  .image2-cont9{
        margin-top: 20px;

      }
    
    .container9 h3{
         margin-top: -10px;   
    }
    .container9 span{
        margin-top: -13px; 

    }
   

     /* SEC10 */
            .container10 {
                flex-direction: column; 
            }
            .box {
                max-width: 100%; 
            }
            .icon {
                width: 50px;
                height: 50px;
                font-size: 20px;
            }
            .title h3{
                font-size: 14px;
            }
            .desc p {
                margin-left: 10px;
                font-size: 12px;
            }
            .image-cont11{
                flex-wrap: wrap;
            }

}