body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    height: 90px; 
    display: flex;
    justify-content: space-between;
    
}
.link{
    display: flex;
    align-items: center;
}
.nav-link{
    list-style-type: none;
    display: flex;
    align-items: center;
     
}
.navbar a{
    text-decoration: none;
    color: rgb(215, 80, 80);
    font-size: 16px;
    margin-left: 20px;
}
.bx{
    color: rgb(199, 91, 91);
    font-size: 20px;
}
.menu-accueil, .menu-collect, .menu-about, .menu-contact{
     display: flex; 
}
.logo{
 font-size: 20px;  
 color: rgb(229, 110, 110);
  margin-left: 40px;
}


.nav-Icon i{
    color: rgb(189, 85, 85);
    font-size: 24px;
    line-height: 90px; 

}

.image1{
    background-image: url("Images/image1.jpg");
   
}
.image2{
    background-image: url("Images/pexels-photo-5782708.webp");
}
.image3{
    background-image: url("Images/image3.jpg");
   
}
.image1, .image2, .image3{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.sec1{
    height: 75vh;
    /* background-color: brown;  */
   
} 
.container1{
     height: 75vh;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 15px;
    justify-content: center;
}
.image2 .titre1 {
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image2 h1, h3{
    color: aliceblue;
}
.image2 h1{
    font-size: 36px;
    text-align: center;
}
.image2 h3{
    font-size: 20px;
}
.star-para1 h3 i{
    color: rgb(248, 147, 25);
    font-size: 24px;
    
}
.star-para1 h3 span{
     margin-left: 20px;
}
.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(230, 74, 74);
    width: 30vh;
    height: 7vh;
    color:    rgb(253, 249, 249);
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.bxs-chevron-right{
    color: rgb(242, 243, 245);   
}
    /* .sec2 */
.sec2{
     margin-top: 20px; 
    height:80vh;
   
}
.container2{
    background: url("Images/1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 80vh;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container2 h1{
    color: white;
    font-size: 32px;
}

.photo img{
    width: 250px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 17px;
    cursor: pointer;
}
.photo img:hover{
    overflow: hidden;
    transform: scale(1.1);
}
.container2 .photos{
    display: flex;
}
 .bnt {
    background-color:rgb(255, 255, 255);
        width: 22vh;
        height: 8vh;
        border: 1px solid #FFF;
        color:    rgb(59, 57, 57);
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-align: center;
        position: relative;
        bottom: 90px; 
        left: 75px;

    }




    .sec3{
     margin-top: 3%; 
     height:90vh;
      
   }
   .container3{

       height: 90vh;
       /* width: 95%; */
       margin: auto;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   
   }
   .container3 h1{
       color: rgb(89, 86, 86);
       font-size: 32px;
       text-align: center;
   }
   .image1-cont3{
    background-image: url("Images/2.jpeg");
   }
   .image2-cont3{
    background-image: url("Images/3.jpeg");

   }
   .image3-cont3{
    background-image: url("Images/4.jpeg");

   }
   .image4-cont3{
    background-image: url("Images/image1.jpg");

   }
   .image1-cont3, .image2-cont3, .image3-cont3, .image4-cont3{
    background-size: cover;
    background-position: center;
   }
   .images-cont3{
    display: grid;
    grid-template-columns: repeat(4,250px);
     grid-template-rows: 300px; 
     gap: 15px;
    
   }




@media screen and (max-width: 1024px) {
    .navbar{
        height: 200px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        margin-left: -10px;  
    } 
    .link{
        flex-wrap: wrap;
    }
    .logo{
        margin: auto;
    }

    .nav-link a{
        font-size: 14px;
    }
    /* .sec1 */
    .container1{
        grid-template-columns:0px 1fr 0px;
        grid-template-rows: 1fr;
        
    }
    /* .sec2 */
    .sec2{
        height:180vh;
   }
   .container2{
    height:180vh;
    align-items: center;

   }
    .container2 .photos{
        display: flex;
        flex-wrap: wrap; 
    }
   .photo img{
        width: 400px;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
         border-radius: 10px;
         margin-left: 30px;
    }
    .bnt{
        margin-left: 15vh;
    }
    
   
    

   
}
